<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-uVi1hKsC0fAq6B7AftxZMRGBzwY38p4
        &libraries=visualization&callback=initMap">
    </script>

    /**
     * The JavaScript code that creates the firebase map goes between the empty script tags below.
     * https://developers.google.com/maps/documentation/javascript/firebase
     * r = requests.post("http://localhost:3000/track", {'track_id': 1, 'lat': 29.624511914728025
     * , 'lon': -82.38675365879733
     * , 'sensor': 'Radar'})
     */
    <script>
      var config = {
        apiKey: "AIzaSyDxj0dVbEApXX5iXMAZTnkIDd7WaZaZwek",
        authDomain: "sensible-viz-1494193988644.firebaseapp.com",
        databaseURL: "https://sensible-viz-1494193988644.firebaseio.com",
      };

      firebase.initializeApp(config);
      var rootRef = firebase.database().ref();

      function makeInfoBox(controlDiv, map) {
        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.boxShadow = 'rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px';
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '2px';
        controlUI.style.marginBottom = '22px';
        controlUI.style.marginTop = '10px';
        controlUI.style.textAlign = 'center';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '100%';
        controlText.style.padding = '6px';
        controlText.innerText = 'This map shows all active tracks and trajectories.';
        controlUI.appendChild(controlText);
      }

      function initAuthentication(onAuthSuccess) {
        firebase.auth().signInAnonymously().catch(function(error) {
            console.log('Login Failed!', error);
        });
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
              onAuthSuccess();
            }
        });
      }

      var activePoints = [];

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 29.6216931, lng: -82.3867591},
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.SATELLITE,
        });
        // Create the DIV to hold the control and call the makeInfoBox() constructor
        // passing in this DIV.
        var infoBoxDiv = document.createElement('div');
        var infoBox = new makeInfoBox(infoBoxDiv, map);
        infoBoxDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(infoBoxDiv);

        initAuthentication(function() {
          var tracks = rootRef.child('/track');
          tracks.on("child_added", function(child) {
            var newPoint = child.val();
            // remove all currently active points for this track
            for (var i = 0; i < activePoints.length; i++) {
              if (newPoint.track_id == activePoints[i]['id']) {
                c = activePoints.pop(activePoints[i]);
                if (c['point'] != null)
                  c['point'].setMap(null);
                c['point'] = null;
              }
            }

            var color = '#FFFFFF'; // white
            if (newPoint.sensor === "Radar") {
              color = '#FF0000'; // red
            }
            else if (newPoint.sensor === "DSRC") {
              color = '#0033FF'; // blue
            }
            else if (newPoint.sensor === "Fused") {
              color = '#FFAA00'; // orange
            }

            var circ = new google.maps.Circle({
              strokeColor: color,
              strokeOpacity: 0.8,
              strokeWeight: 1,
              fillColor: color,
              fillOpacity: 0.8,
              map: map,
              center: {lat: parseFloat(newPoint.lat), lng: parseFloat(newPoint.lon)},
              radius: 1
            });

            activePoints.push({id: newPoint.track_id, point: circ});
          });
        });
      }

    </script>
  </body>
</html>