<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-uVi1hKsC0fAq6B7AftxZMRGBzwY38p4
        &libraries=visualization&callback=initMap">
    </script>
    <script async defer
        src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js">
    </script>
    <script src=/firebase.js> </script>
  </body>
</html>